*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/.name
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/gradle.xml
/.idea/markdown.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/studiobot.xml
/.idea/vcs.xml
sonar-project.properties
.scannerwork/*
